@model Sample

<div class="form-group">
    <label asp-for="AudiobookId">Audiobook</label>
    <select class="form-control" id="os-select" asp-for="AudiobookId">
        @foreach (var item in await AudiobookService.GetAllAudiobooks())
        {
            <option value="@item.Id">@item.Name - @item.Author</option>
        }
    </select>
</div>
<label for="file">Upload Sample</label>
<div class="col-sm-8 col-md-6 mb-3">
    <input type="file"
           id="file"
           name="file"
           accept="audio/mpeg"
           class="form-control">
</div>